
form {
  overflow: hidden;
  background-color: #8f8fff;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  margin-top:120px;
  margin:auto;
  width:520px;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
}

form input {
    font-family: $fontAsap;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

form button {
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: rgba(244, 91, 105, 1);;
    @include transition(background-color 300ms);
}
form button:hover {
      background-color: darken($redFire, 5%);
    }



@include keyframes (wawes) {
  from { @include transform(rotate(0)); }
  to { @include transform(rotate(360deg)); }
}

a {
  text-decoration: none;
  color: rgba(white, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}